// Navigation code here
h1 {
    font-size: 48px;
    text-align: center;
    align-items: center;
    margin: auto;
    
    
  }
  
  nav { 
    // .flex-center {
    //     display: flex;
    //     justify-content: center;
    // }
    .flex-center();
    flex-direction: column;
    background-color: @wild-sand;
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    

    .links {
        margin-left: 41%;
        padding-bottom: 20px;
        

        @media @phone {
            margin-left: 25%;
            padding-top: 2%;
            padding-bottom: 2%;
        }
    }
    
  
  
  
    a {    
      padding: 1%;      
      color: @ebony-clay;
      font-size: 18px;      
      text-decoration: none;
      
          
    }
  }